@model USAMarketing.Models.ItemModels
@{
    ViewBag.Title = "create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <table>
       
        <tr>
            <td>@Html.DisplayNameFor(model => model.ItemCollection[0].ItemNumber)</td>
            <td>@Html.TextBoxFor(model => model.ItemCollection[0].ItemNumber, new {required = "required"})</td>
        </tr>
       
        <tr>
            <td>@Html.DisplayNameFor(model => model.ItemCollection[0].Description)</td>
            <td>@Html.TextBoxFor(model => model.ItemCollection[0].Description, new { required = "required" })</td>
        </tr>
        
        <tr>
            <td>@Html.DisplayNameFor(model => model.ItemCollection[0].UnitPrice)</td>
            <td>@Html.TextBoxFor(model => model.ItemCollection[0].UnitPrice, new { required = "required" })</td>

    </tr>
</table>
    <p></p>
    <p></p>
    <input type="submit" value="Create New" />
}